body {
  background-color: #f7e4ea;
}

.wrapper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
}

.container-out {
  background-color: white;
  width: 90%;
  height: 75%;
  margin: auto;
  padding: auto;
}

img {
  height: 24px;
  width: 24px;
}

.pic {
  width: auto;
  /* display: block; */
  /* margin: auto; */
}

.pic img {
  position: relative;
  top: -11%;
  width: 600px;
  height: 900px;
  box-shadow: 0px -3px 38px 10px #c1c1c1;
}

.specs {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.specs .intro {
  height: 20%;
  padding: 1.5%;
  margin: 1.5%;
  font-size: 25px;
  justify-content: center;
}

.container-in {
  display: flex;
  height: 100%;
}

.menu {
  width: 5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details h1 {
  padding-left: 3%;
  font-size: 400%;
}

.detail-container {
  display: flex;
  /* height: ; */
  justify-content: center;
}

.detail-container a {
  font-size: 36px;
  display: block;
  margin-left: 6%;
  /* padding: auto; */
}

.detail-container h2 {
  font-weight: 1000;
  font-size: 30px;
  margin-left: 6%;
}

.detail-container p {
  padding: 6%;
  padding-top: 1%;
  font-size: x-large;
}

.detail-container .development {
  width: 50%;
}

.detail-container .seo{
  width: 50%;
}

.menu a {
  display: block;
  font-size: 36px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
}

/* .menu-bar {
  width: 20%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.menu-bar a {
  display: block;
  font-size: 36px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
} */

.middle-icons a {
  font-size: 25px;
  color: black;
}

.middle-icons .second-icon {
  color: #c978f0;
  font-size: 30px;
}

.active {
  background-color: #c978f0;
  color: white;
}

.icon-bar a:hover {
  background-color: #c978f0;
}

.cloud {
  filter: invert(67%) sepia(36%) saturate(913%) hue-rotate(218deg)
    brightness(91%) contrast(88%);
}

/* a {
  display: flex;
  flex-direction: column;
  width: 10%; */

/* width: 60px; */
/* height: 60%; */
/* } */

/* div.list-icon {
  background-color: black;
}

div.middle-icon {
  justify-content: center;
}

a.cloud-icon {
  justify-self: flex-end;
} */

/* div {
  outline: 1px solid red !important;
} */
